@{
    ViewBag.Title = "MDR";
    Layout = null;
}

<html ng-app="mdrApp">

<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../Content/Images/Pencil-icon-1005134425.png" />
    @Styles.Render("~/bundles/mdrApp/style")
    @Scripts.Render("~/bundles/mdrApp/script")

</head>
<body class="container">
    <div ng-include="'app/layout/topnav.html'"></div>
    <div ng-view></div>
</body>
</html>