@{
    ViewBag.Title = "Magic Damage Report";
}
<br />
<div class="jumbotron">
    <h1>Magic Damage Report</h1>
    <p class="lead">Magic Damage Report is a free tool able to create any type of damage reports.</p>
    <p>@Html.ActionLink("Create now", "Index", "DamageReport", new { @class = "btn btn-success btn-lg" })</p>
</div>

<div class="row panel panel-default">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-link" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Damage report types</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-link" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fast Delivery</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-link" href="#">Learn more &raquo;</a></p>
    </div>
</div>